/* ==========CONTACTs========== */
.contact
{
    width: calc(50% - 15px);
    padding-left: 100px;
}
.contact__title
{
    margin-bottom: 40px;
    color: var(--main-title-color);  
}
.contact__address
{
    margin-bottom: 70px;
}
.contact__map-link
{
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}
/* .contact__list {} */
.contact__item
{
    &:not(:last-child)
    {
        margin-bottom: 20px;
    }
}
.contact__link
{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}
.contact__subtitle
{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #ffffff;
}
.contact__schedule
{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}
/* ===== ===== */