.about__container
{
    display: flex;
    gap: 30px;
}
.about__pic-list
{
    display: flex;
    gap: 30px;
}
.about__wrap
{
    max-width: 470px;
}
.about__pre-title
{
    margin-bottom: 20px;
    color: #303030;
}
.about__title
{
    margin-bottom: 20px;
    color: var(--second-title-color);
}
.about__after-title
{
    margin-bottom: 20px;
    @include font(18px, 1.67, null, 0.02em);
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #555555;
}
.about__text
{
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
}