.group__list
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.group__item
{
    /* width: calc((100% - 150px) / 6); */
    height: 90px;
    @include calc(2, 30px);
  
    @media screen and (min-width: 768px)
    {
        @include calc(3, 30px);
    }
    @media screen and (min-width: 1200px)
    {
        @include calc(6, 30px);
    }
}
.group__link
{
    width: 100%;
    height: 100%;
    @extend %list;
    justify-content: center;
    transition: border-color 200ms linear;
    border-radius: 5px;
    border: 4px solid rgb(83, 79, 78);

    &:hover
    {
        border-color: tomato;
    }
}
.group__social-icon
{
    transition: fill 200ms linear;
    fill: rgb(83, 79, 78);

    .group__link:hover &
    {
        fill: tomato;
    }
}